@media (max-width:575px) {
    header {
        padding: 0 0;
        background-color: #F0FFF0;
    }
    .logo {
        width: 180px;
    }
    .menu ul li a {
        padding: 0 15px !important;
        margin-bottom: 5px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    header {
        padding: 5px 0;
        background-color: #F0FFF0;
    }

    .menu ul li a {
        padding: 0 15px !important;
        margin-bottom: 10px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .menu ul li a {
        padding: 0 15px !important;
        margin-bottom: 10px;
    }
}




